#editor {
    margin: 1em 4em;
}

.control-point {
	text-align: center;
	line-height: 100%;
	width: 15em;
	margin: 0.5em 0;
	padding: 0.5em 1em;
	border-radius: 5px;
	border: 2px solid #eee;
}
.control-point:hover, .selected {
	border: 2px solid #222;
}

.control-point > input[type="number"] {

    padding: 0.1em;
    margin: 0 0.25em;
    font-family: Montserrat;
    font-size: 0.85em;
    color: #222;
    text-align: right;
    border: 1px solid #eee;
    border-radius: 3px;
}