@import url(https://fonts.googleapis.com/css?family=Montserrat|Poly);

body {
    font-family: Poly;
    font-size: 112.5%; /* 18px if the browser default is 16px */
    line-height: 140%;
    margin: 0;
}

header {
    display: block;
    height: 5em;
    margin: 0 4em;
}

h1 {
    display: inline;
    margin: 0;
    font-family: Montserrat;
    font-size: 2.4em;
    line-height: 2.1em;
    color: #222;
}

h2 {
    font-family: Montserrat;
    color: #222;
}

.subtitle {
    font-family: Poly;
    font-style: italic;
    font-size: 1.2em;
}

section {
    display: block;
}

canvas {
    width: 100%;
    border: 1px solid #333;
    border-width: 1px 0px; /* Turn off left and right borders */
}

#colormaps {
    margin-top: 2em;
    padding: 1em;
    text-align: center;
}

#colormaps>canvas {
    width: 20%;
    height: 4em;
    border: 0;
    border-radius: 0.3em;
    margin: 1em;
    cursor: pointer;
}

#preview-container {
    height: 10em;
}

#fixednum-preview-container {
    height: 4em;
}

#colormap-select-container {
    display: inline;
}

#acknowledgments {
    margin-top: 5em;
}

#attribution-address {
    display: block;
    margin-top: 1em;
    padding: 0.5em;
    
    color: black;
    text-decoration: none;
    
    background-color: #ddd;
    border: 1px solid #999;
    border-radius: 5px;
}