@import url(https://fonts.googleapis.com/css?family=Montserrat|Poly);

body {
    font-family: Poly;
    font-size: 112.5%; /* 18px if the browser default is 16px */
    line-height: 140%;
    margin: 0;
}

header {
    display: block;
    height: 5em;
    margin: 0 4em;
}

h1 {
    display: inline;
    margin: 0;
    font-family: Montserrat;
    font-size: 2.4em;
    line-height: 2.1em;
    color: #222;
}

h2 {
    font-family: Montserrat;
    color: #222;
}

.subtitle {
    font-family: Poly;
    font-style: italic;
    font-size: 1.2em;
}

section {
    display: block;
}

canvas {
    width: 100%;
    border: 1px solid #333;
    border-width: 1px 0px; /* Turn off left and right borders */
}

#colormaps {
    margin: 2em 0;
    padding: 1em;
    text-align: center;
}

#colormaps>canvas {
    width: 20%;
    height: 4em;
    border: 1px solid white;
    border-radius: 0.3em;
    margin: 1em;
    cursor: pointer;
    outline: none;
    -webkit-transition: height 40ms linear, margin 40ms linear;
    -moz-transition: height 40ms linear, margin 40ms linear;
    -o-transition: height 40ms linear, margin 40ms linear;
    transition: height 40ms linear, margin 40ms linear;
}

#colormaps>canvas:hover, #colormaps>canvas:focus {
    height: 4.5em;
    margin: 0.75em 1em;
}

#colormaps>.selected {
    height: 4.5em;
    margin: 0.75em 1em;
    border: 1px solid #333;
}

#preview-container {
    height: 10em;
}

#fixednum-preview-container {
    height: 4em;
}

#controls-wrapper {
    position: relative;
    top: -4em;
    margin-bottom: -4em;
    line-height: 2.5em;
    padding: 0.75em;
    text-align: center;
}

.controls {
    display: inline-block;
    padding: 0 0.8em;
    margin-right: 2em;
    font-family: Montserrat;
    color: #222;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.controls>button {
    padding: 0.15em 0.4em;
    font-family: Montserrat;
    font-size: 0.85em;
    color: #222;
}

.controls>input, .controls>select {
    padding: 0.1em;
    font-family: Montserrat;
    font-size: 0.85em;
    color: #222;
    text-align: right;
    background: white;
    border: 0px solid black;
    border-radius: 3px;
}

#numcolors {
    width: 3.5em;
    font-size: 0.95em;
}

button>img {
    height: 0.85em;
    vertical-align: middle;
}

#acknowledgments {
    margin-top: 5em;
    padding: 0 20%;
    font-size: 0.7em;
    color: #666;
    text-align: center;
}

#acknowledgments>p {
    float:left;
    width:33%;
}